<h1>Lista de tarefas</h1>

<div style="text-align: right;">
  <p-button label="Voltar" icon="pi pi-arrow-left" styleClass="p-button-danger" badgeClass="p-badge-danger"></p-button>
  &nbsp;
  <p-button label="Novo" icon="pi pi-users" styleClass="p-button-warning" badgeClass="p-badge-warning"></p-button>
</div>
<div style="text-align: right;">
  &nbsp;
</div>

<p-table [value]="tarefas" styleClass="p-datatable-sm p-datatable-striped" dataKey="id">
<ng-template pTemplate="caption">
  <div class="flex align-items-center justify-content-between">
    <h5 class="m-0"> Lista completa das tarefas</h5>
  </div>
</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Código</th>
      <th>Tarefa</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template let-tarefa pTemplate="body">
    <tr>
      <td class="text-sm border-1" style="width: 3%"><p-checkbox [value]="tarefa.id" inputId="id-tarefa"></p-checkbox></td>
      <td class="text-sm border-1" style="width: 3%">{{ tarefa.id }}</td>
      <td class="text-sm border-1" style="width: 70%">{{ tarefa.nome }}</td>
      <td class="text-sm border-1 align-items-center" style="width: 25%">
        <p-button label="Editar" icon="pi pi-check" styleClass="p-button-info" badgeClass="p-badge-info"></p-button>
        &nbsp;
        <p-button label="Excluir" icon="pi pi-times" styleClass="p-button-danger" badgeClass="p-badge-danger"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p *ngIf="tarefas.length == 0">Nenhuma tarefa cadastrada.</p>
