<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <br/>
          {{title}}
          <br/>
          <p-button label="Primary"></p-button><br/>
          <p-button label="Secondary" styleClass="p-button-secondary"></p-button><br/>
          <p-button label="Success" styleClass="p-button-success"></p-button><br/>
          <p-button label="Info" styleClass="p-button-info"></p-button><br/>
          <p-button label="Warning" styleClass="p-button-warning"></p-button><br/>
          <p-button label="Help" styleClass="p-button-help"></p-button><br/>
          <p-button label="Danger" styleClass="p-button-danger"></p-button><br/>
        </a>
      </div>
    </div>
  </nav>
</div>
