/* You can add global styles to this file, and also import other style files */
//@import "bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeflex/primeflex";
@import "primeicons/primeicons.css";

.font-chivo {
  font-family: Chivo, sans-serif;
}

.font-inter {
  font-family: Inter, sans-serif;
}

.font-quick {
  font-family: Quicksand, sans-serif;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

body {
  font-family: Roboto;
  //background: linear-gradient(
  //    90deg,
  //    rgba(2, 0, 36, 1) 0%,
  //    rgba(9, 9, 121, 1) 35%,
  //    rgba(0, 212, 255, 1) 100%
  //);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, tr {
  height: 70px;
}

th, tr, td {
  border: 1px solid;
}

td.tupla {
  text-align: center;
}
